@{
    ViewData["Title"] = "Приёмы";
    Layout = null;
}
@{
    var tickets = ViewBag.Tickets;
}
<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .add-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            font-size: 24px;
            font-weight: bold;
            padding: 12px 20px;
        }

        .back-button {
            position: fixed;
            bottom: 20px;
            left: 20px;
            font-size: 18px;
            padding: 8px 12px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ФИО Пациента</th>
            <th>Врач</th>
            <th>Дата и Время</th>
        </tr>
     
         @foreach (var ticket in tickets)
            {
                <tr>
                    <td>@ticket.PatientFIO</td>
                    <td>@ticket.DoctorFIO</td>
                    <td>@ticket.DateTimeTicket</td>
                </tr>
            }
    </table>
    <button class="add-button" onclick="location.href='add_ticket.html'">+</button>
    <button class="back-button" onclick="history.go(-1)">Вернуться назад</button>
</body>
</html>